<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!-- Conexion local-->
      <!--<remove name="CAD.Properties.Settings.GeoSenaDBConnectionString"/>
    <add name="CAD.Properties.Settings.GeoSenaDBConnectionString" 
         connectionString="Data Source=.;Initial Catalog=GeoSenaDB;Integrated Security=True" 
         providerName="System.Data.SqlClient" />-->

      <!-- Conexion Azure-->
      <remove name="CAD.Properties.Settings.GeoSenaDBConnectionString"/>
      <add name="CAD.Properties.Settings.GeoSenaDBConnectionString"
           connectionString="Data Source=geosena.database.windows.net,1433;Initial Catalog=GeoSenaDB;Persist Security Info=False;User ID=administrador;Password=Admin123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
           providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>